[
 {lager,
  [
   {handlers,
    [
     {lager_console_backend, [debug, true]}
    ]},
   {colored, true},
   {colors,
    [
     % Assuming 16-color terminal.
     {debug, "\e[0;37m" },       % dark gray
     {info, "\e[0;32m" },        % green
     {notice, "\e[0;36m" },      % cyan
     {warning, "\e[0;33m" },     % yellow
     {error, "\e[0;31m" },       % red
     {critical, "\e[0;35m" },    % magenta
     {alert, "\e[1;44m" },       % blue background
     {emergency, "\e[1;41m" }    % red background
    ]}
  ]}
].

%% -*- erlang -*-
%% vim: ft=erlang
